<!DOCTYPE html>
<html>
<head>
  <title>Goalapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <% if current_user %>
  <%= current_user.username %>
  <form action=" <%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= authentic_form %>
    <button>Log Out</button>

  </form>
  <% else %>
    <% unless params[:controller] == 'sessions' && params[:action] == 'new' %>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>
    <% unless params[:controller] == 'users' && params[:action] == 'new' %>
      <a href="<%= new_user_url %>">Sign Up</a>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
